.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-bottom: 50px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 { font-size: 24px; }
  .link { color: var(--color-text-gray); font-size: 14px; }
}