:root {
  --color-bg: #0D0D0E;       /* Темный фон из макета */
  --color-primary: #FF3465;  /* Розовый цвет кнопок */
  --color-text: #FFFFFF;
  --color-text-gray: #828282;
  --container-width: 1200px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Arial', sans-serif; /* Подключишь шрифт позже */
  margin: 0;
}

* { box-sizing: border-box; }
a { text-decoration: none; color: inherit; }